 /*styling for the login page*/

 *{
    padding: 0;
    margin: 0;
 }

 body{
    min-height: 100vh;
    background-color: rgb(194, 194, 121);
 }

 /*Styling the nav-bar*/

 nav{
    background-color: aliceblue;
 }

 nav ul{
   width: 100%;
   
   list-style-type: none;

   display: flex;
   justify-content: flex-end;
   align-items: center;
 }