/*this is the styling sheet for registration page*/
*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
}



/*Styling the REGISTRATION form*/
 
.wrapper{
    border: 2px solid red;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
}

form{
    box-sizing: border-box;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    
    background-color: bisque;
    padding: 30px;

}

form h2{
    text-align: center;
}


 form div{
 
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    height: 1.5em;
 }

 form div> label{
    flex-grow: 2;
 }

 form div > *{
 
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }

 form button{
    align-self: center;
    border: 0;
    box-sizing: border-box;
    background-color: black;
   color: white;
   text-transform: capitalize;
    font-weight: bold;

    margin-top: 30px;
    padding: 1em;
    border-radius: 15px;
    cursor: pointer;
 }

 form button:hover{
   box-sizing: border-box;
   text-transform: uppercase;

 }

 form input{
    box-sizing: border-box;
    border: 0;
    border-radius: 10px;

    padding-left: 13px;

    background-color: rgb(229, 240, 236);
 }

 form input:hover{
    background-color: white;
 }


 a{
    text-decoration: none;
    color: blue;
    
 }

 a:hover{
   box-sizing: border-box;
    text-decoration: underline;
    color: green;
    text-transform: uppercase;
 }

  


