*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: rgb(194, 194, 121);
}

/*styling the nav-bar */

nav{
    background-color: aliceblue;
}

 nav ul{
    width: 100%;

     display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
 }

 nav li{
    height: 50px;
 }

 nav a{
    height: 100%;
    text-decoration: none;

    padding: 0 20px;

    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
 }

 nav a:hover{
    background-color: white;
    border-bottom: 2px solid rgb(14, 14, 17);
 }

 #logo{
    color: gray; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;

 }

 nav #logo:hover{
    color: brown;
    border-bottom: 0;
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 }

 