/*this is the main stylesheet for our page*/
.container{
    display: flex;

    flex-direction: column;

    margin: 0;
    padding: 0;
     justify-content: center;
}

.block{
    margin: 0;
    display: flex;

}

/*styling our nav-bar*/

.block#nav{
    flex-direction: row;

    flex-grow: 0.5;
    align-items: center;
    justify-content: start;
    gap: 30px;

    list-style-type: none;
    background-color: black;
}

.block#main{
    flex-grow: 8;
}

.block#footer{
    flex-grow: 1.5;
}
