/*this is the main stylesheet for our page*/

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rebeccapurple;
}
.container{
    height: 100%;
    display: flex;

    flex-direction: column;
    background-color: antiquewhite;

     
    
 }

.block{
    margin: 0;
    display: flex;

    border: 1px solid green;


}

/*styling our nav-bar*/

.block#nav{
    flex-direction: row;

    flex-grow: 0.5;
    align-items: center;
    justify-content: start;
    gap: 30px;

    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.664);
}

#nav a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

 }

/*nav-bar links on hover*/
#nav a:hover{
    color:black;
    border-bottom: 2px solid white;
    font-weight: lighter;
}

.block#main{
    flex-grow: 8;
}

.box#nav2{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start ;
    background-color: aquamarine;

    flex-grow: 1;

    margin: 0;
    padding-top: 40px;
}

/*styling the vertical nav-bar links*/
#nav2 a{
    text-decoration: none;
    color: rgb(8, 51, 8);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.box#cont{
     background-color: rgb(54, 63, 60);
     flex-grow: 8;
     padding: 15px;
}

.block#footer{
    flex-grow: 1;
}
